<!DOCTYPE html>
<html ng-app="githubView" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>

    <script src="js/script.js"></script>
</head>
<body ng-controller="MainController">
   <h1>{{error}}</h1>

   {{countdown}}
    <form name="searchUser" ng-click="search(username)">
        <input type="search"  placeholder="Username to find" ng-model="username" required />
        <input type="button" value="Search" />

    </form>
    <br />
  <div ng-include="'userdetails.html'" ng-show="user"></div>
</body>

</html>
